.hello {
    color: green;
    font-size: 45px;
}

body {
    margin: 0;
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(22, 22, 23, .8);
}

.item {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.watch {
    text-align: center;
    width: 100%;
    padding-top: 5px;
    height: 340px;
    background-size: 100% 340px;
    background-repeat: no-repeat;
    background-image: url('./images/hero_apple_watch_series_10_avail_lte__esu66gaw6dci_largetall.jpg');
}

.watch-logo {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 180px;
    height: 70px;
    background-size: 180px 70px;
    background-repeat: no-repeat;
    background-image: url('./images/hero_logo_apple_watch_series_10__dla4dkv1wfue_largetall.png')
}

.buttons {
    margin-top: 10px;
}

.learn {
    background: #0071e3;
    color: white;
    border: 0px;
    border-radius: 50px;
    width: 90px;
    height: 28px;
}

.buy {
    background: rgba(0, 0, 0, 0);
    color: #06c;
    border: 1px solid #06c;
    border-radius: 50px;
    width: 90px;
    height: 28px;
}

.people {
    display: flex;
    margin-bottom: 20px;
    gap: 7px;
}

.human-one {
    width: 100%;
    height: 300px;
    background-size: 100% 300px;
    background-repeat: no-repeat;
    background-image: url('./images/human1.jpg');
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}

.human-two {
    width: 100%;
    height: 300px;
    background-size: 100% 300px;
    background-repeat: no-repeat;
    background-image: url('./images/human2.jpg');
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}

.text {
    margin: 10px auto;
    width: 30%;
}

.button-airpods {
    margin-bottom: 10px;
    margin-top: 0;
}